:root {
    --main-color: #009EFF;
    --main-color-darker: rgb(0, 108, 175);
    --main-color-lighter: #f5fbff;
    --off-black: #333333;
}

* {
    box-sizing: border-box;
}

html {
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--off-black);
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-color);
}

nav {
    /* max-height: 6rem; */
    padding: 3rem 2rem;
    /* background-color: var(--main-color-lighter); */
    color: var(--off-black);
    text-transform: uppercase;
    border-bottom: #CCCCCC 0.2rem solid;
}

nav h1 {
    margin: 0rem;
    padding: 0;
    letter-spacing: 0.05rem;
    text-shadow: 0.2rem 0.2rem 0.25rem rgba(100,100,150,0.1);
    font-size: 3.0rem;
    text-align: center;
}

nav h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
}

div.main{
    border-radius: 0.5rem;
    max-width: 800px;
    /* background-color: #F2f2f2; */
    margin: 2rem auto;
    box-shadow: 0 0 0.75rem rgba(0,0,0,0.25);
}

#img-caption {
    text-align: center;
}

#img-div {
    text-align: center;
}

ul {
    font-size: 1.1rem;
    padding: 0rem 0rem;
    margin-left: -1rem;
}

li {
    margin: 1rem 1rem;
}

section.content{
    padding: 2rem 4rem;
}

img.hero {
    width: 100%;
    max-width: 1000px;
    display: block;
}

div.center{
    text-align: center;
}
img.icon {
    width: 5rem;
    margin: 2rem;

}

footer {
    font-size: 0.9rem;
    padding: 1rem 1rem;
    /* background-color: white; */
    border-top: #DDDDDD 0.2rem solid;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 1rem 0rem 0rem 0rem;
}

footer .copyrights {
    margin: 1rem;
    font-size: 0.8rem;
    color: #777777;
}

footer .copyrights p{
    padding: 0.5rem 0rem 0rem 0rem;
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
}